body {
	text-align: center;
	background-color: rgb(24, 26, 27);
}

#textIn {
	margin-top: 150px;
	background-color: grey;
	border-color: grey;
}

#btn {
	margin-top: 50px;
	width: 100px;
	height: 50px;
	background-color: midnightblue;
	border-color: midnightblue;
}
